# Proyecto 3

Importando ando

In [16]:
import pandas as pd
import numpy as np
import re
import datetime as dt

In [17]:
sharks=pd.read_csv('attacks.csv', encoding = 'latin-1')

Iniciaré explorando un poquito y paso a pasito porque si no me pierdo...

In [18]:
sharks.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# Iniciemos limpieza de datos ->

1- Iniciamos observando el shape del dataframe

In [19]:
sharks.shape

(25723, 24)

2- Ahora nuestras columnas

In [20]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

3- Eliminaré algunas de ellas que no ocuparé

In [21]:
sharks.drop(columns=['Case Number','Investigator or Source','Name','href formula','href','original order', 'Unnamed: 22',
       'Unnamed: 23', 'pdf','Area','Age','Sex ','Location','Case Number.1', 'Case Number.2','Species ','Time','Country'],inplace=True)

In [22]:
sharks.head(5)

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
0,25-Jun-2018,2018.0,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,18-Jun-2018,2018.0,Unprovoked,Standing,Minor injury to left thigh,N
2,09-Jun-2018,2018.0,Invalid,Surfing,Injury to left lower leg from surfboard skeg,N
3,08-Jun-2018,2018.0,Unprovoked,Surfing,Minor injury to lower leg,N
4,04-Jun-2018,2018.0,Provoked,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N

Hemos logrado que se vea algo más limpio y entendible (a mí parecer) aunque aún falta un largo camino.

# Trabajaremos con lo valores nulos para practicar

1-¿Cuántos valores nulos tenemos?

In [23]:
sharks.isnull().sum()

Date           19421
Year           19423
Type           19425
Activity       19965
Injury         19449
Fatal (Y/N)    19960
dtype: int64

In [24]:
sharks.dropna(axis=0, how='any', thresh=3, inplace=True)

2-Acabo de limpiar las filas con los valores nulos y por lo tanto mi shape disminuyó

In [25]:
sharks.shape

(6302, 6)

3-Ahora voy a eliminar valores que estén duplicados

In [14]:
sharks=sharks.drop_duplicates()

In [15]:
sharks.shape

(6279, 6)

# Vamos a trabajar con nuestras columnas

1-Vamos a sustituir los valores nulos de Type

In [ ]:
sharks[sharks[]]